@if(loading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<h1 mat-dialog-title>Edit Address</h1>
<mat-dialog-content>

    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input matInput placeholder="Street + House No." [(ngModel)]="user.street" [disabled]="loading">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="Zip Code" [(ngModel)]="user.zipCode" [disabled]="loading">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" [(ngModel)]="user.city" [disabled]="loading">
        </mat-form-field>
    </div>

    
</mat-dialog-content>
    
<mat-dialog-actions>
  <button mat-button [disabled]="loading" (click)="closeDialog()">Cancel</button>
  <button mat-button [disabled]="loading" (click)="editAddress()">Save</button>
</mat-dialog-actions>