



<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-div">
      <img src="./../assets/img/simplelogo2.png" class="logo-img">
      <span class="logo-text">Simple CRM</span>
    </div>

    <ul class="menu-items">
      <li [routerLink]="'/dashboard'" role="button"><mat-icon>fact_check</mat-icon> Dashboard</li>
      <li [routerLink]="'/user'" role="button"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
    
   
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" class="menu-icon mr-16">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</mat-drawer-container>



<!-- <router-outlet></router-outlet> -->
