.user-detail-header{
    min-height: 250px;
    background-color: rgb(92,203,230);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 24px;
}

.profile-img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.user-details{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80px;

    h2{
        margin-bottom: 0;
    }
}

.menu-icon{
    position: absolute;
    right: 8px;
    top: 8px;
}

