
<mat-card appearance="outlined">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>

            @for (user of allUsers; track $index) {
                <tr>
                    <td><a [routerLink]="['/user/', user.id]">{{ user.lastName }}</a></td>
                    <td><a [routerLink]="['/user/', user.id]">{{ user.firstName }}</a></td>
                    <td><a [routerLink]="['/user/', user.id]">{{ user.email }}</a></td>
                    <td><a [routerLink]="['/user/', user.id]">{{ user.city }}</a></td>
                    <td><mat-icon (click)="deleteUser(user.id)">delete</mat-icon></td>
                </tr>
            }
            
            
            
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="primary" class="add-btn" matTooltip="Add user" [matTooltipPosition]="'above'" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>